name: Bazel Build and Test

on:
  push:
    branches: [ "main", "day1-bootstrap" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Bazelisk
      uses: bazelbuild/setup-bazelisk@v3

    - name: Build All
      run: bazel build //...

    - name: Run Tests
      run: bazel test //... --test_output=errors

    - name: Mount Bazel Cache
      uses: actions/cache@v3
      with:
        path: "~/.cache/bazel"
        key: bazel-${{ runner.os }}-${{ hashFiles('MODULE.bazel') }}